@model Group8.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.categoryID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.categoryID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.categoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categoryDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoryDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.parentCategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parentCategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.departmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.departmentName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.categoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
