@model Group8_iCLOTHINGApp.Models.Administrator

@{
    ViewBag.Title = "LoginAdmin";
}

@using (Html.BeginForm("LoginAdmin", "Administrators", FormMethod.Post))
{
    <fieldset>
        <legend>Admin Log In</legend>
        <hr />
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @if (ViewBag.Message != null)
        {
            <p style="border: 1px solid red">
                @ViewBag.Message
            </p>
        }

        <div class="form-group">
            @*@Html.LabelFor(model => model.userAccountName, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <p>Username</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.adminName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.adminName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @* @Html.LabelFor(model => model.userEncryptedPassword, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <p>Password</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.adminPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.adminPassword, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Login" class="btn btn-default" />
                </div>
            </div>
        </div>

    </fieldset>
}
