@model IEnumerable<Group8.Models.Brand>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add New Brand", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Brand")
        </th>
        <th>
            @Html.DisplayName("Description")
        </th>
        <th>
            @Html.DisplayName("ID")
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.brandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brandDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brandID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.brandID, name = item.brandName })
                @Html.ActionLink("Details", "Details", new { id = item.brandID, name = item.brandName })
                @Html.ActionLink("Delete", "Delete", new { id = item.brandID, name = item.brandName })
            </td>
        </tr>
    }

</table>
